/* Nesse Media Screen foi definido o Minimo da altura no header, classe pai da header-container*/
@media (max-height: 800px) {

    .header {
        min-height: 9.5vh;
        max-height: 10.5vh;

        .header-container {
            max-height: 90%;

            & .logo {
                /*background-color: teal;*/
                padding: 5px;

                & img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

}



/*Essas medias foram escolhidas para com base no Header, vou usar como padrão*/
/*Celulares*/
@media (min-height: 800px) and (max-height: 950px) {


    .header {
        height: 9vh;

        .header-container {
            height: 80%;
            /*background-color: red;*/

            & .logo {

                & img {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

}


/*Alguns tablets Menores*/
@media (min-height: 950px) and (max-height: 1100px) {

    .header {
        max-height: 8vh;

        & .header-container {
            max-height: 75%;
            /*background-color: peru;*/

            & .logo {
                & img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}


/*Grandes tablets como IPAD Pro */
@media (min-height: 1100px) and (max-height: 1367px) {

    .header {
        max-height: 7vh;

        & .header-container {
            max-height: 70%;
            /*background-color: yellow;*/

            & .logo {
                & img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

    }

}


/*Grandes monitores*/
@media (min-height: 1367px) and (max-height: 1550px) {
    .header {

        max-height: 6vh;

        & .header-container {
            max-height: 70%;
            /*background-color: aquamarine;*/

            & .logo {
                & img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

    }
}

@media (min-height: 1550px) and (max-height: 1800px) {
    .header-container {
        max-height: 5.5vh;
        /*background-color: brown;*/
    }
}






/*BREAKPOINT DE LARGURA*/

@media (min-width: 1650px) and (max-width: 1850px) {


    .header-container {
        /*background-color: aquamarine;*/
        max-width: 80%;
    }
}


@media (min-width: 1850px) {
    .header-container {
        /*background-color: yellow;*/
        max-width: 100em;
    }
}




/*Esse é o último BreakPoint antes do Menu Hamburguer.*/
@media (min-width: 1100px) and (max-width: 1350px) {

    .header {
        & .header-container {
            & .nav-container {
                min-width: 90%;
            }

        }
    }

}


/*Nesse BreakPoint vou começar a usar o Menu Hamburguer*/

@media (max-width: 1100px) {

    .header {
        & .header-container {


            justify-content: space-between;

            & .nav-container {
                display: none;
            }

            & .hamburguer-container {
                display: flex;
            }

        }
    }
}


/*GAP ENTRE 550 A 1099 Não foi necessário modificar*/

/*Redimensionar o tamanho da Lupa de Procurar em dispositivos Mobile*/
@media (max-width: 550px){

    .header{

        & .header-container{

            & .hamburguer-container{

                & .button{
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
} 