/* BREAKPOINT PARA DISPOSITIVOS PEQUENOS*/
@media (min-height: 630px) and (max-height: 750px) {

    .header {
        max-height: 10vh;
    }

    .header-container {

        .logo {
            & img {
                max-height: 30px;
                max-width: 30px;
            }
        }
    }

    .container {
        margin-top: 10vh;

        .menu-hamburguer {
            height: 25%;
        }
    }
}





/* BREAKPOINT PARA DISPOSITIVOS MÓVEIS DE MÉDIO PARA MAIORES
   - Exemplos: iPhone 14 Pro Max em modo retrato e smartphones modernos com telas grandes */

/* RESPONSIVIDADE PARA DOIS BREAKPOIT DESCRITO A SEGUIR.. 
Configuração usada na Imagem da Logo::
 - Tamanho padrão para os  breakpoints de 750px a 950px e 950px a 1100px */
@media (min-height: 750px) and (max-height: 1100px) {

    .header-container {

        .logo {
            & img {
                max-height: 35px;
                max-width: 35px;
            }
        }
    }
}

@media (min-height: 750px) and (max-height: 950px) {

    .header {
        max-height: 8vh;
    }

    /* Container exibido quando o menu hamburguer é acionado
   Este container é revelado ao clicar no ícone do menu hamburguer, contendo as opções de navegação */
    .container {
        margin-top: 8vh;

        & .menu-hamburguer {
            height: 25vh;
        }
    }

}






/* BREAKPOINT PARA TABLETS MENORES (IPAD MINI) E CELULARES EM PAISAGEM
   - Exemplos: iPhone 14 Pro Max em orientação paisagem e outros dispositivos similares */

@media (min-height: 950px) and (max-height: 1100px) {

    .header {
        max-height: 7vh;
    }


    /* Container exibido quando o menu hamburguer é acionado
   Este container é revelado ao clicar no ícone do menu hamburguer, contendo as opções de navegação */
    .container {
        margin-top: 7vh;

        & .menu-hamburguer {
            height: 23%;
        }
    }
}






/* BREAKPOINT PARA TABLETS MÉDIOS A GRANDES e Monitores de bom Tamanho*/

@media (min-height: 1100px) and (max-height: 1300px) {

    .header {

        max-height: 6vh;

        /*Até o BREAKPoint anterior era 35px*/
        .header-container {
            .logo {
                & img {
                    max-height: 40px;
                    max-width: 40px;
                }
            }
        }
    }


    .hamburguer-container {

        & .hamburger svg {
            height: 2.5em;
        }
    }

    /* Container exibido quando o menu hamburguer é acionado
   Este container é revelado ao clicar no ícone do menu hamburguer, contendo as opções de navegação */
    .container {
        margin-top: 6vh;

        & .menu-hamburguer {
            height: 20%;
        }
    }
}






/* BREAKPOINT PARA MONITORES GRANDES E ALCANCE FINAL
   Ajustes finais para dispositivos com telas grandes, como monitores de desktop e laptops,
   incluindo resoluções de até 1500px de altura. A maioria dos monitores modernos é coberta. */

@media (min-height: 1300px) and (max-height: 1500px) {

    .header {

        max-height: 7vh;

        .header-container {

            width: 85%;

            .logo {
                & img {
                    max-height: 45px;
                    max-width: 45px;
                }
            }
        }
    }

    /* Container exibido quando o menu hamburguer é acionado
   Este container é revelado ao clicar no ícone do menu hamburguer, contendo as opções de navegação */
    .container {
        margin-top: 7vh;

        & .menu-hamburguer {
            height: 20%;
        }
    }
}












/*Os MEDIA QUERY de Largura*/


/* Para celulares muito pequenos 
 - Como Z Fold 5 OU Modelos antigos como Iphone 5*/
@media (max-width: 360px) {

    /*Banner foi melhor definir por medias de Largura*/
    .banner-exposicao{
        height: 20vh;

        /*background-color: gold;*/

        & img{
            width: 90%;
        }
    }
}


/*Para smartphones padrão (a maioria dos celulares modernos)
 - Como Iphone, Samsung S20 e etc*/
@media (min-width: 360px) and (max-width: 500px) {

    .header {
        & .header-container {

            & .hamburguer-container {

                & .button {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}


/*Para medias queries de no maximo 360px e 360 a 500 que são respectivamente para celulares,
 Ficou ideal o mesmo tamanho de Banner, por isso essa BREAKPOINT foi criado foi criado*/
@media (max-width: 500px){
    .banner-exposicao{
        height: 25vh;


        & img{
            width: 90%;
        }
    }
}



/*Para smartPhones caso tenha algum muito grande e maioria dos Tables
 - IPAD AIR, IPAD MINI e tablets semelhantes*/
@media (min-width: 500px) and (max-width: 820px) {

    .banner-exposicao{
        height: 30vh;

        background-color: darkmagenta;

        & img{
            width: 70%;
            height: 80%;
        }
    }
  
}


/*TABLETS maiores e monitores pequenos*/
@media (min-width: 820px) and (max-width: 1100px){

    .banner-exposicao{
        height: 30vh;

        background-color: darkkhaki;

        & img{
            width: 65%;
            height: 85%;
        }
    }
}






/* BREAKPOINT Media CRIADO especialmente pelo Menu Hambuguer vou começar a usar o Menu Hamburguer*/
@media (max-width: 1100px) {

    .header {
        & .header-container {
            justify-content: space-between;

            & .nav-container {
                display: none;
            }

            & .hamburguer-container {
                display: flex;
            }

        }
    }
}




/*Talvez algum Modelo de Tablet bem, acima de IPAD PRÓ Largo, alguns Notebooks Menores e Telas Pequenas.
 - Há um BREAKPOIT que define que telas Menores que 1100px o Menu hamburguer aparece*/
@media (min-width: 1100px) and (max-width: 1350px) {

    .header {

        & .header-container {
            & .nav-container {
                min-width: 90%;
            }

        }
    }

    .banner-exposicao{
        height: 35vh;

        background-color: darkorange;

        & img{
            width: 70%;
            height: 90%;
        }
    }
}





/*1529 É A LARGURA DO MEU NOTE*/
@media (min-width: 1350px) and (max-width: 1550px) {

    /*Por enquanto só necessário mexer no banner*/
    .banner-exposicao{
        height: 50vh;

       /* background-color: darkslateblue;*/

        & img{
            width: 65%;
            height: 90%;
        }
    }
}




/*NoteBOOKS MAIORES E MONITORES MÉDIOS
 - A partir desse breakPoint começarmos a Limitar toda div em 75% do Site-container*/
@media (min-width: 1550px) and (max-width: 1750px) {
    

    .header{
        max-width: 75%;
        background-color: palegoldenrod;
    }

    .sub-header{
        max-width: 75%;
        background-color: thistle;
    }

    .banner-exposicao{

        max-width: 75%;

        height: 45vh;

        background-color: darkorange;

        & img{
            width: 65%;
            height: 80%;
        }
    }

}


/*Para monitores mais Novos*/
@media (min-width: 1750px) and (max-width: 1850px) {
    

    .header{
        max-width: 72%;
        background-color: paleturquoise;
    }

    .sub-header{
        max-width: 72%;
        background-color: firebrick;
    }

    .banner-exposicao{

        max-width: 72%;

        height: 45vh;

        background-color: darkorange;

        & img{
            width: 60%;
            height: 85%;
        }
    }

}




/*Para os melhores Monitores e resoluções 4k*/
@media (min-width: 1850px) and (max-width: 2000px) {
    

    .header{
        max-width: 69%;
        background-color: palevioletred;
    }

    .sub-header{
        max-width: 69%;
        background-color: seagreen;
    }

    .banner-exposicao{

        max-width: 69%;

        height: 42vh;

        background-color: darkorange;

        & img{
            width: 60%;
            height: 85%;
        }
    }
}




/*OS MAIORES MONITORES, SE TIVER MAIOR É MENTIRA.*/
@media (min-width: 2000px) and (max-width: 2200px) {
    

    .header{
        max-width: 64%;
        background-color: plum;
    }

    .sub-header{
        max-width: 64%;
        background-color: red;
    }

    .banner-exposicao{

        max-width: 64%;

        height: 40vh;

        background-color: darkorange;

        & img{
            width: 60%;
            height: 85%;
        }
    }

}