* {
    padding: 0;
    margin: 0;

    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.site-container{
    display: flex;

    align-items: center;

    flex-direction: column;
}

:root {
    --cor-primaria: #7BC8F6;
    --cor-principal: #FDFDFE;
}

.header {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 14vh;

    width: 100%;

    background-color: var(--cor-principal);


    & .header-container {
        display: flex;

        align-items: center;
        justify-content: space-around;

        height: 90%;
        width: 90%;


        & .logo {
            display: flex;

            justify-content: center;
            align-items: center;

            height: 90%;
            width: 10%;
        }

        & .nav-container {
            display: flex;

            align-items: center;
            justify-content: space-evenly;

            height: 90%;
            width: 75%;

            /*border: tomato solid 2px;*/
        }

        /*Vai aparecer somente no breakpoint 1350px Width*/
        & .hamburguer-container {
            display: none;

            justify-content: space-around;
            align-items: center;

            height: 90%;
            width: auto;
            /*Defino com auto*/

            /*border: #7BC8F6 solid 1px;*/

            /*Adiciono uma margin para eles sempre ficarem separados, isso evita eu criar breaksPoint só para aumentar o tamanho do Hamburguer-container*/
            & .hamburger {
                margin-left: 20px;
            }
        }

    }

}


/**/
.nav-item {
    display: flex;
    align-items: center;

    list-style: none;

    height: auto;
    width: auto;

    cursor: pointer;

    font-size: 14px;

    & img {
        height: 14px;
        width: 14px;
        margin-left: 7px;
    }
}



/*Esse é o container do menu Hamburguer que abre após clicar no Botão*/
.container {
    display: none;

    position: fixed;
    justify-content: flex-end;

    height: 90vh;
    width: 100%;

    & .menu-hamburguer {
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        position: fixed;


        height: 30vh;
        width: 100%;

        background-color: hsla(0, 0%, 100%, .8);

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

}






/*Botão*/
/* From Uiverse.io by gharsh11032000 */
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: var(--cor-principal);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        -3px -3px 2px rgba(255, 255, 255, 0.05),
        -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
}

.button .span {
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
    content: "";
    position: absolute;
    background-color: #e8e8e8;
    width: 150%;
    height: 150%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%) rotate(45deg);
    border-radius: 15px;
}

.button:hover::before {
    animation: shakeBack 0.6s forwards 0.6s;
}

.button:hover .span {
    scale: 1.2;
}

.button:hover {
    box-shadow: none;
}

.button:active {
    scale: 0.95;
}

@keyframes shakeBack {
    0% {
        transform: translate(-100%, 100%) rotate(45deg);
    }

    50% {
        transform: translate(15%, -15%) rotate(45deg);
    }

    100% {
        transform: translate(-10%, 10%) rotate(45deg);
    }
}



/*Icon do Container Hamburguer*/
/* From Uiverse.io by JulanDeAlb */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}




/*Aqui Começa a configuração do SUBMENU*/

.sub-header{
    display: flex;

    align-items: center;
    justify-content: center;

    height: 6vh;
    width: 100%;

    position: sticky; /* Torna o menu fixo ao rolar, mas sem remover do fluxo */
    top: 0; /* Fica fixo no topo da página quando o usuário rolar */


    .icon:nth-child(n + 2){
        margin-left: 45px;
    }


    .icon{
        display: flex;

        justify-content: center;
        align-items: center;

        height: 37px;
        width: 37px;

        border-radius: 30px;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        -3px -3px 2px rgba(255, 255, 255, 0.05),
        -2px -2px 1px rgba(255, 255, 255, 0.05);
        transition: 0.3s all;

        img{
            height: 85%;
            width: 85%;
        }
    }

    .icon:hover{
        box-shadow: none;
    }
}


.teste{
    height: 190vh;
    width: 100%;
}